html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: rgb(49, 47, 47);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

h2 {
  background-color: rgb(49, 47, 47);
  color: #1db954;
}

h3 {
  width: 100%;
  color: black;
  text-align: center;
  font-size: 20px;
}

h4 {
  color: black;
  text-align: center;
  font-size: 18px;
}

.long-album-name {
  font-size: 13px;
}

.album-box {
  margin-top: 10px;
  transition: transform 0.3s;
}

.card img {
  position: relative;
}

.style-badge {
  position: absolute;
  top: 0;
  left: 0;
}

img {
  max-width: 220px;
  height: autox;
}

a.navbar-brand {
  color: #1db954;
}

.nav {
  position: fixed;
  background-color: rgb(49, 47, 47);
  z-index: 1;
}

.jumbotron-animation {
  background-color: rgb(49, 47, 47);
  color: #1db954;
  height: 100vh;
  /* transition: opacity 1s ease-in; */
  position: relative;
}

.jumbotron-animation .lead {
  text-align: center;
}

#jumbotron-h1 {
  opacity: 0;
  transition: opacity 1s ease-in;
}

#jumbotron-subtitle1 {
  opacity: 0;
  transition: opacity 2.8s cubic-bezier(1, -0.1, 1, 0.52);
}

#jumbotron-subtitle2 {
  opacity: 0;
  /* transition: opacity 2.7s ease-in; */
  transition: opacity 3.2s cubic-bezier(1, -0.1, 1, 0.52);
}

#my-navbar {
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 0;
  transition: opacity 3.5s cubic-bezier(1, -0.1, 1, 0.52);
}

.album-box:hover {
  color: black;
  transform: scale(1.05);
  z-index: 1;
  /* transform: translateY(-5%); */
}

.description-clicked {
  background-color: rgba(0, 0, 0, 0.5);
}

p {
  text-align: left;
}

ol li {
  color: black;
  text-align: left;
}

.move-pic {
  transition: transform 0.3s;
}

.move-pic:hover {
  transform: translateY(-5%);
  z-index: 1;
}

.add-track {
  transition: all 0.3;
}

.btn.btn-danger:hover,
.add-track:hover {
  box-shadow: 2px 3px black;
}

.add-track:active {
  box-shadow: -2px -3px black;
}

.btn.btn-danger {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.track-row:hover .btn.btn-danger {
  opacity: 1;
}
